.themes-button {
  height: 50px;
  width: 15px;
  border-radius: 8px;
  font-weight: 50;
  background: grey;
  color: #fff;
  padding: 0px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}
